@font-face {
  font-family: "Hansief";
  src: url("./fonts/Hansief.woff2") format("woff2"), url("./fonts/Hansief.woff") format("woff"), url("./fonts/Hansief.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Hansief";
  color: #fff;
  font-size: 2.4rem;
  font-weight: normal;
  padding-bottom: 15px;
}

h4 {
  font-size: 1rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

h5 {
  font-family: "Hansief";
  font-size: 13px;
  font-weight: normal;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

@media (min-width: 1800px) {
  :root {
    font-size: 21px;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#choice-section {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-3.88%, #0A3B66), to(#001A3D));
  background: linear-gradient(180deg, #0A3B66 -3.88%, #001A3D 100%);
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#choice-section .mountain-bg {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -29vh;
  z-index: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#choice-section .cloud-bg {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 6%;
  z-index: 2;
}
#choice-section img.brand-logo {
  width: 120px;
}
#choice-section .choice-container {
  position: absolute;
  z-index: 5;
  width: 90%;
  max-width: 42rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 2rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#choice-section .choice-container .choice-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #0A1823;
  padding: 20px 30px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
#choice-section .choice-container .choice-box h1 {
  font-family: "Hansief";
  text-transform: uppercase;
  color: #fff;
  font-size: 50px;
  font-weight: normal;
  padding-bottom: 4.5rem;
  padding-top: 3.5rem;
}
#choice-section .choice-container .choice-box h1::before {
  content: "";
  display: block;
  margin-bottom: 2rem;
  width: 3.1rem;
  height: 2px;
  background: #5b5a60;
}
#choice-section .choice-container .choice-box:hover {
  overflow: visible;
  background: transparent;
}
#choice-section .choice-container .choice-box:hover .snow-img {
  opacity: 1;
  width: 150%;
}
#choice-section .choice-container .choice-box:hover .snow-compare {
  left: -50%;
}
#choice-section .choice-container .choice-box:hover .snow-science {
  right: -50%;
}
#choice-section .choice-container .choice-box:hover .choice-button {
  background: transparent;
  color: transparent;
}
#choice-section .choice-container .choice-box:hover .choice-button::after {
  opacity: 0;
}
#choice-section .choice-container .choice-box:hover .choice-button::before {
  opacity: 1;
}
#choice-section .choice-container .snow-img {
  position: absolute;
  width: 130%;
  bottom: -11%;
  opacity: 0.2;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#choice-section .choice-container .snow-compare {
  left: -30%;
}
#choice-section .choice-container .snow-science {
  right: -30%;
}
#choice-section .choice-container .choice-button {
  background: #2741CC;
  padding: 15px 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  margin-bottom: 2.5rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}
#choice-section .choice-container .choice-button::after {
  content: "";
  background: url(./assest/arrow.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 8px;
  height: 13px;
  margin-left: 20px;
  display: inline-block;
}
#choice-section .choice-container .choice-button::before {
  content: "";
  background: url(./assest/arrow-circle.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  z-index: -1;
}
#choice-section .choice-container:hover + .mountain-bg {
  bottom: -10vh;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  opacity: 0.7;
}

#comparison-app {
  width: 100%;
  height: 100vh;
  background: url(./assest/app-background.svg);
  background-size: 100% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#comparison-app .app-sidebar {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  background: #000000;
  -webkit-box-shadow: 0px 4px 60px rgba(36, 33, 40, 0.68);
          box-shadow: 0px 4px 60px rgba(36, 33, 40, 0.68);
  padding: 40px 25px;
}
#comparison-app .app-sidebar .app-logo {
  width: 56%;
}
#comparison-app .filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 25px;
  margin-top: 8vh;
}
#comparison-app .search-bar-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
}
#comparison-app .search-bar-container .search-input {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  padding-bottom: 5px;
  color: #fff;
}
#comparison-app .search-bar-container .search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
#comparison-app .search-bar-container .search-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
#comparison-app .search-bar-container .search-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
#comparison-app .search-bar-container .search-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
#comparison-app .search-bar-container .search-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
#comparison-app .search-bar-container .search-input:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
#comparison-app .search-bar-container .search-input:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
#comparison-app .filter-icon {
  cursor: pointer;
}
#comparison-app .product-listing {
  margin-top: 30px;
  overflow-y: scroll;
  max-height: 75%;
}
#comparison-app .product-listing::-webkit-scrollbar {
  width: 5px;
}
#comparison-app .product-listing::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#comparison-app .product-listing::-webkit-scrollbar-thumb {
  background-color: #2741CC;
  outline: none;
}
#comparison-app .product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  background: rgba(91, 90, 96, 0.48);
  border: 1px solid rgba(255, 255, 255, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9.5px;
  margin-bottom: 10px;
  width: 97%;
}
#comparison-app .product-card .product-img-container {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
#comparison-app .product-card .product-img-container .product-img {
  width: 100%;
}
#comparison-app .product-card .product-content {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}
#comparison-app .product-card .product-content .title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#comparison-app .product-card .product-content .title-content h1 {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 600;
  margin: 0;
}
#comparison-app .product-card .product-content .title-content h5 {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
#comparison-app .product-card .star {
  background: url(./assest/stars.png);
  background-size: auto 100%;
  height: 18px;
  background-repeat: no-repeat;
  margin: 3px 0px;
}
#comparison-app .product-card .star-4 {
  width: 80px;
}
#comparison-app .product-card .star-5 {
  width: 100px;
}
#comparison-app .product-card .star-3 {
  width: 60px;
}
#comparison-app .product-card .star-2 {
  width: 40px;
}
#comparison-app .product-card .star-1 {
  width: 20px;
}
#comparison-app .product-card .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
#comparison-app .product-card .price-container h3 {
  color: #fff;
}
#comparison-app .product-card .price-container .selection-check {
  width: 30px;
  height: 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
}
#comparison-app .product-card .price-container .no-active-selection {
  background: url(./assest/plus.svg);
  background-size: 100% 100%;
}
#comparison-app .product-card .price-container .active-selection-1 {
  background: url(./assest/product-check-1.svg);
  background-size: 100% 100%;
}
#comparison-app .product-card .price-container .active-selection-2 {
  background: url(./assest/product-check-2.svg);
  background-size: 100% 100%;
}
#comparison-app .product-card .price-container .active-selection-3 {
  background: url(./assest/product-check-3.svg);
  background-size: 100% 100%;
}
#comparison-app .product-card .price-container .active-selection-4 {
  background: url(./assest/product-check-4.svg);
  background-size: 100% 100%;
}

path.cls-1 {
  fill: black;
}

.svg-ari {
  max-height: 100%;
}

.canvas-area {
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
}
.canvas-area > * {
  width: 87%;
  margin-left: auto;
  margin-right: auto;
}
.canvas-area .canvas-header button.switch-button {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
  color: #fff;
  font-family: "Hansief";
  font-size: 1.1rem;
  opacity: 0.5;
  font-weight: 400;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.canvas-area .canvas-header button.switch-active {
  opacity: 1;
  cursor: default;
}
.canvas-area .canvas-header .outline-profile-switch {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  grid-gap: 0.9rem;
}
.canvas-area .canvas-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 2.3rem;
  padding-top: 2.3rem;
  height: 100%;
}
.canvas-area .canvas-content .snowboard-graphics-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-height: 90%;
}
.canvas-area .canvas-content .snowboard-graphics-container .graphics-img-container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.canvas-area .canvas-content .snowboard-graphics-container h5 {
  color: #fff;
}

.toolbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 2%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 70px;
}
.toolbar-container .toolbar-options {
  width: 70px;
  height: 70px;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}
.toolbar-container .collapsible {
  background: url(./assest/collapsible.svg);
  background-size: 100% 100%;
}
.toolbar-container .base {
  background: url(./assest/base.svg);
  background-size: 100% 100%;
}
.toolbar-container .graph {
  background: url(./assest/graph.svg);
  background-size: 100% 100%;
}

.product-graphics-box {
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  background: #fff;
}

img.image-center {
  max-width: 380px;
  display: block;
  margin: auto;
}