$primary : #2741CC;
$secondry : #0A1823;
$black : #000000;

@font-face {
    font-family: 'Hansief';
    src: url('./fonts/Hansief.woff2') format('woff2'),
        url('./fonts/Hansief.woff') format('woff'),
        url('./fonts/Hansief.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body
{
    padding : 0;
    margin : 0;
    font-family: 'Poppins', sans-serif;
}

h1
{
    font-family: 'Hansief';
    color : #fff;
    font-size: 2.4rem;
    font-weight: normal;
    padding-bottom: 15px;
}

h4
{
    font-size: 1rem;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
}

h5
{
    font-family: 'Hansief';
    font-size: 13px;
    font-weight: normal;
    color : #fff;
}

*
{
    margin : 0;
    padding : 0;
}
.container
{
    width: 100%;
    max-width: 1200px;
    margin : 0 auto;
}

// choice section css
#choice-section
{
    width : 100%;
    background: linear-gradient(180deg, #0A3B66 -3.88%, #001A3D 100%);
    height: 100vh;
    overflow: hidden;
    position: relative;

    .mountain-bg
    {
        width: 100%;
        position: absolute;
        left : 0;
        right : 0;
        bottom : -29vh;
        z-index: 1;
        transition: all 0.4s;
    }

    .cloud-bg
    {
        width: 100%;
        position: absolute;
        left : 0;
        right : 0;
        top: 6%;
        z-index: 2;
    }


    img.brand-logo {
        width: 120px;
    }

    .choice-container
    {
        position: relative;
        z-index: 5;
        width: 90%;
        max-width: 760px;
        margin : 0 auto;
        margin-top: 2%;
        display: flex;
        grid-gap: 2rem;

        .choice-box
        {
            flex : 1;
            background : $secondry;
            padding: 20px 30px;
            position: relative;
            overflow: hidden;
            z-index: 0;
            transition: all 0.4s;
            cursor: pointer;

            h1
            {
                font-family: 'Hansief';
                text-transform: uppercase;
                color : #fff;
                font-size: 50px;
                font-weight: normal;
                padding-bottom: 4.5rem;
                padding-top: 3.5rem;
                
                &::before
                {
                    content: '';
                    display: block;
                    margin-bottom: 2rem;
                    width: 3.1rem;
                    height: 2px;
                    background: rgba(91, 90, 96, 1);
                }
            }

            &:hover
            {
                overflow: visible;
                background : transparent;

                .snow-img
                {
                    opacity: 1;
                    width: 150%;
                }

                .snow-compare
                {
                    left: -50%;
                }

                .snow-science
                {
                    right: -50%;
                }
                .choice-button
                {
                    background : transparent;
                    color : transparent;

                    &::after
                    {
                        opacity: 0;
                    }

                    &::before
                    {
                        opacity: 1;
                    }
                }

            }
        }

        .snow-img
        {
            position: absolute;
            width: 130%;
            bottom: -11%;
            opacity: 0.2;
            z-index: -1;
            transition: all 0.4s;
        }

        .snow-compare
        {
            left: -30%;
        }
        .snow-science
        {
            right : -30%;
        }
        .choice-button
        {
            background : $primary;
            padding : 15px 30px;
            color : #fff;
            text-transform: uppercase;
            font-size: 1rem;
            text-decoration: none;
            margin-bottom: 2.5rem;
            display: inline-block;
            position: relative;
            z-index: 0;

            &::after
            {
                content: "";
                background: url(./assest/arrow.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                width: 8px;
                height: 13px;
                margin-left: 20px;
                display: inline-block;
            }

            &::before
            {
                content: "";
                background: url(./assest/arrow-circle.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                width : 50px;
                height: 50px;
                position: absolute;
                right : 0px;
                top : 50%;
                transform: translateY(-50%);
                opacity: 0;
                z-index: -1;

            }

        }

        
    }

    .choice-container:hover + .mountain-bg
        {
            bottom: -10vh;
            filter: blur(2px);
            opacity: 0.7;
        }
}


//  comparison app

#comparison-app
{
    width: 100%;
    height: 100vh;
    background: url(./assest/app-background.svg);
    background-size: 100% auto;
    display: flex;


    .app-sidebar
    {
        flex-basis: 32%;
        background: $black;
        box-shadow: 0px 4px 60px rgba(36, 33, 40, 0.68);
        padding : 40px 25px;

        .app-logo
        {
            width: 56%;
        }
    }
   

    .filter-container
    {
        display: flex;
        grid-gap: 25px;
        margin-top: 8vh;
    }

    .search-bar-container
    {
        width: 100%;
        display: flex;
        grid-gap: 10px;
        .search-input
        {
            border: none;
            outline: none;
            box-shadow: none;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            border-bottom: 1px solid rgba(255,255,255,0.3);
            flex-basis: 100%;
            background: none;
            box-sizing: border-box;
            font-size: 16px;
            padding-bottom: 5px;
            color : #fff;
            &::placeholder
            {
                color : rgba(255,255,255,0.3);
            }

            &:focus
            {
                border-bottom: 1px solid rgba(255,255,255,0.8);
            }

            &:hover
            {
                border-bottom: 1px solid rgba(255,255,255,0.8);
            }
        }
    }

    .filter-icon
    {
        cursor: pointer;
    }

    .product-listing
    {
        margin-top: 30px;
        overflow-y: scroll;
        max-height: 75%;

        &::-webkit-scrollbar {
            width: 5px;

          }
           
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }
           
          &::-webkit-scrollbar-thumb {
            background-color: $primary;
            outline: none;
          }
    }

    .product-card
    {
        display: flex;
        grid-gap: 20px;
        background: rgba(91,90,96,.48);
        border: 1px solid rgba(255,255,255,0.7);
        box-sizing: border-box;
        padding : 9.5px;
        margin-bottom: 10px;
        width: 97%;

        .product-img-container
        {
            flex-basis: 20%;

            .product-img
            {
                width: 100%;
            }
        }

        .product-content
        {
            flex-basis: 75%;

            .title-content
            {
                display: flex;
                justify-content: space-between;

                h1
                {
                    font-size: 1.1rem;
                    font-family: "Poppins", sans-serif;
                    color : #fff;
                    font-weight: 600;
                    margin : 0;
                }

                h5
                {
                    color : #fff;
                    font-weight: 400;
                    font-size: 14px;
                    margin : 0;
                }
            }
        }

        .star
        {
            background: url(./assest/stars.png);
            background-size: auto 100%;
            height: 18px;
            background-repeat: no-repeat;
            margin : 3px 0px;
        }
        .star-4
        {
            width: 80px;
        }

        .star-5
        {
            width: 100px; 
        }

        .star-3
        {
            width: 60px;
        }

        .star-2
        {
            width: 40px;
        }

        .star-1
        {
            width: 20px;
        }

        .price-container
        {
            display: flex;
            justify-content: space-between;
            width: 100%;

            h3
            {
                color : #fff;
            }

            .selection-check
            {
                width: 30px;
                height: 30px;
                box-shadow: none;
                border : none; 
                cursor: pointer; 
            }

            .no-active-selection
            {
                background : url(./assest/plus.svg);
                background-size: 100% 100%;
            }
            .active-selection-1
            {
                background : url(./assest/product-check-1.svg);
                background-size: 100% 100%;
            }

            .active-selection-2
            {
                background : url(./assest/product-check-2.svg);
                background-size: 100% 100%;
            }

            .active-selection-3
            {
                background : url(./assest/product-check-3.svg);
                background-size: 100% 100%;
            }

            .active-selection-4
            {
                background : url(./assest/product-check-4.svg);
                background-size: 100% 100%;
            }
        }
    }
}

path.cls-1 {
    fill: black;
}

.svg-ari
{
    max-height: 100%;
}

.canvas-area
{
    flex-basis: 68%;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    
    > *
    {
        width: 87%;
        margin-left: auto;
        margin-right: auto;
    }

    .canvas-header
    {
        button.switch-button {
            background: none;
            box-shadow: none;
            outline: none;
            border: none;
            color: #fff;
            font-family: "Hansief";
            font-size: 1.1rem;
            opacity: .5;
            font-weight: 400;
            letter-spacing: 0.1rem;
            cursor: pointer;
        }
        button.switch-active
        {
            opacity: 1;
            cursor: default;
        }

        .outline-profile-switch
        {
            display: inline-flex;
            grid-gap: 0.9rem;
        }
    }

    .canvas-content
        {
            display: flex;
            grid-gap: 2.3rem;
            padding-top: 2.3rem;
            height: 100%;

            .snowboard-graphics-container
            {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                max-height: 90%;

                .graphics-img-container
                {
                    flex-basis: 100%;
                    display: flex;
                    align-items: center;
                }
                h5
                {
                    color : #fff;
                }
            }
        }
}



.product-graphics-box
{
    -webkit-mask-position: center center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    background: #fff;
}


img.image-center {
    max-width: 380px;
    display: block;
    margin: auto;
}