@font-face {
  font-family: "Hansief";
  src: url("./fonts/Hansief.woff2") format("woff2"), url("./fonts/Hansief.woff") format("woff"), url("./fonts/Hansief.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #1b1b1b;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #353848;
}
body::-webkit-scrollbar-thumb {
  background-color: #2741CC;
  outline: none;
}

h1 {
  font-family: "Hansief";
  font-size: 2.4rem;
  font-weight: normal;
  padding-bottom: 15px;
}

h4 {
  font-size: 1rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

h5 {
  font-family: "Hansief";
  font-size: 13px;
  font-weight: normal;
  color: #fff;
}

canvas {
  display: block;
  margin: auto;
}

.graph-canvas {
  margin-top: 2rem;
  display: none;
}

@media (min-width: 1800px) {
  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 1024px) {
  :root {
    font-size: 12px;
  }
}
@media (min-width: 1280px) {
  :root {
    font-size: 14px;
  }
}
@media (min-width: 1800px) {
  :root {
    font-size: 21px;
  }
}
@media (min-width: 2200px) {
  :root {
    font-size: 27px;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-link {
  cursor: pointer;
  width: auto;
}

#menu {
  position: fixed;
  top: 0;
  left: 0%;
  background-color: white;
  width: 18%;
  height: 100vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 9999;
}
#menu .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
}
#menu .login .close-btn {
  font-size: 50px;
  font-weight: 300;
  cursor: pointer;
}
#menu .login img {
  width: 24px;
}
#menu .login input {
  border: none;
  border-bottom: 1px solid #b1b1b1;
  width: 100%;
  padding: 10px;
  margin: 0 10px;
}
#menu .login ::-webkit-input-placeholder {
  /* Edge */
  color: #a5a5a5;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
#menu .logout {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-column-gap: 10px;
  cursor: pointer;
}
#menu .in-item {
  position: absolute;
  background-color: blue;
  bottom: 0%;
  width: 100%;
  height: 15vh;
  z-index: 9999;
}
#menu .in-item .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 20%;
}
#menu .in-item .social-icon img {
  width: 15px;
  padding: 10px;
}
#menu .in-item .social-icon img:hover {
  opacity: 60%;
}
#menu li {
  display: block;
  margin: 30px 40px;
  line-height: 20px;
}
#menu a {
  color: #0a0a0a;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
#menu #icon {
  float: left;
  margin-left: 40px;
  line-height: 80px;
  width: 20px;
  margin: 20px;
}

nav #icon {
  float: left;
  margin-left: 40px;
  line-height: 80px;
  width: 20px;
  margin: 20px;
  cursor: pointer;
}

#menu.hidenav {
  left: -100%;
}

#choice-section {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-3.88%, #0A3B66), to(#001A3D));
  background: linear-gradient(180deg, #0A3B66 -3.88%, #001A3D 100%);
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#choice-section .mountain-bg {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -29vh;
  z-index: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#choice-section .cloud-bg {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 6%;
  z-index: 2;
}
#choice-section img.brand-logo {
  width: 120px;
}
#choice-section .choice-container {
  position: absolute;
  z-index: 5;
  width: 90%;
  max-width: 42rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 2rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#choice-section .choice-container .choice-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #353848;
  padding: 20px 30px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
#choice-section .choice-container .choice-box h1 {
  font-family: "Hansief";
  text-transform: uppercase;
  color: #fff;
  font-size: 2.8rem;
  font-weight: normal;
  padding-bottom: 4.5rem;
  padding-top: 3.5rem;
}
#choice-section .choice-container .choice-box h1::before {
  content: "";
  display: block;
  margin-bottom: 2rem;
  width: 3.1rem;
  height: 2px;
  background: #5b5a60;
}
#choice-section .choice-container .choice-box:hover {
  overflow: visible;
  background: transparent;
}
#choice-section .choice-container .choice-box:hover .snow-img {
  opacity: 1;
  width: 150%;
}
#choice-section .choice-container .choice-box:hover .snow-compare {
  left: -50%;
}
#choice-section .choice-container .choice-box:hover .snow-science {
  right: -50%;
}
#choice-section .choice-container .choice-box:hover .choice-button {
  background: transparent;
  color: transparent;
}
#choice-section .choice-container .choice-box:hover .choice-button::after {
  opacity: 0;
}
#choice-section .choice-container .choice-box:hover .choice-button::before {
  opacity: 1;
}
#choice-section .choice-container .snow-img {
  position: absolute;
  width: 130%;
  bottom: -11%;
  opacity: 0.2;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
#choice-section .choice-container .snow-compare {
  left: -30%;
}
#choice-section .choice-container .snow-science {
  right: -30%;
}
#choice-section .choice-container .choice-button {
  background: #2741CC;
  padding: 15px 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  margin-bottom: 2.5rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}
#choice-section .choice-container .choice-button::after {
  content: "";
  background: url(./assest/arrow.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 8px;
  height: 13px;
  margin-left: 20px;
  display: inline-block;
}
#choice-section .choice-container .choice-button::before {
  content: "";
  background: url(./assest/arrow-circle.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  z-index: -1;
}
#choice-section .choice-container:hover + .mountain-bg {
  bottom: -10vh;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  opacity: 0.7;
}

#comparison-app {
  width: 100%;
  background: url(./assest/app-background.svg);
  background-size: 100% auto;
  min-height: 100vh;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
#comparison-app .app-sidebar {
  width: 30%;
  background: #000000;
  -webkit-box-shadow: 0px 4px 60px rgba(36, 33, 40, 0.68);
          box-shadow: 0px 4px 60px rgba(36, 33, 40, 0.68);
  padding: 2.8rem 1.75rem;
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: 99;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  max-width: 450px;
}
@media (min-width: 2000px) {
  #comparison-app .app-sidebar {
    padding-bottom: 10px;
  }
}
@media (min-width: 1800px) {
  #comparison-app .app-sidebar {
    max-width: 570px;
  }
}
#comparison-app .app-sidebar .expand-btn {
  position: absolute;
  right: -45px;
  width: 45px;
  z-index: 99;
  top: 0;
  cursor: pointer;
}
#comparison-app .filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 25px;
  margin-top: 8vh;
}
#comparison-app .search-bar-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
}
#comparison-app .search-bar-container .search-input {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  padding-bottom: 5px;
  color: #fff;
}
#comparison-app .search-bar-container .search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
#comparison-app .search-bar-container .search-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
#comparison-app .search-bar-container .search-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
#comparison-app .search-bar-container .search-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
#comparison-app .search-bar-container .search-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
#comparison-app .search-bar-container .search-input:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
#comparison-app .search-bar-container .search-input:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
#comparison-app .filter-icon {
  cursor: pointer;
}
#comparison-app .product-listing {
  margin-top: 30px;
  overflow-y: scroll;
}
#comparison-app .product-listing::-webkit-scrollbar {
  width: 5px;
}
#comparison-app .product-listing::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#comparison-app .product-listing::-webkit-scrollbar-thumb {
  background-color: #2741CC;
  outline: none;
}

.product-box-container {
  position: fixed;
  z-index: 999999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.product-box-container .product-box {
  width: 90%;
  max-width: 600px;
  background: #3a3a3a;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product-box-container .product-box .product-box-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  grid-column-gap: 20px;
}
.product-box-container .product-box .product-box-row .product-img-box {
  width: 148px;
}
.product-box-container .product-box .product-box-row .product-img-box img {
  width: 100%;
}
.product-box-container .product-box .product-box-row .product-content-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.product-box-container .product-box .product-box-row .product-content-box h2 {
  font-family: "Hansief";
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  line-height: 38px;
  text-transform: uppercase;
}
.product-box-container .product-box .product-box-row .product-content-box h5 {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding-top: 10px;
}
.product-box-container .product-box .product-box-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #505050;
  margin-top: 10px;
  padding-top: 10px;
}
.product-box-container .product-box .product-box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px;
}
.product-box-container .product-box .product-box-2 p {
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.product-box-container .product-box .product-box-2 .add-to-compare {
  cursor: pointer;
}
.product-box-container .product-box .product-box-2 img {
  width: 200px;
}
.product-box-container h4 {
  color: #fff;
  font-size: 17px;
  padding-bottom: 15px;
}
.product-box-container .size-container .size-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-column-gap: 20px;
}
.product-box-container .size-container .size-list .size-box {
  background: #484848;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #787878;
  color: #fff;
}
.product-box-container .size-container .size-list .size-box h4 {
  padding: 0;
}
.product-box-container a.buy-btn {
  background: #40AE32;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 1px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 25px;
  border-radius: 8px;
  font-size: 18px;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  background: rgba(91, 90, 96, 0.48);
  border: 1px solid rgba(255, 255, 255, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9.5px;
  margin-bottom: 10px;
  width: 97%;
}
.product-card .product-img-container {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.product-card .product-img-container .product-img {
  width: 100%;
}
.product-card .product-content {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}
.product-card .product-content .title-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-card .product-content .title-content .p {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.product-card .product-content .title-content .p:hover {
  text-decoration: underline;
}
.product-card .product-content .title-content h1 {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 600;
  margin: 0;
  padding-bottom: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 177px;
  text-transform: capitalize;
}
.product-card .product-content .title-content h5 {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
.product-card .star {
  background: url(./assest/stars.png);
  background-size: auto 100%;
  height: 18px;
  background-repeat: no-repeat;
  margin: 3px 0px;
}
.product-card .star-4 {
  width: 80px;
}
.product-card .star-5 {
  width: 100px;
}
.product-card .star-3 {
  width: 60px;
}
.product-card .star-2 {
  width: 40px;
}
.product-card .star-1 {
  width: 20px;
}
.product-card .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 9px;
  width: 100%;
}
.product-card .price-container h3 {
  color: #fff;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.product-card .price-container .bookmark {
  cursor: pointer;
  width: 20px;
}
.product-card .price-container .selection-check {
  width: 40px;
  height: 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
}
.product-card .price-container .no-active-selection {
  background: url(./assest/plus.svg);
  background-size: 100% 100%;
}
.product-card .price-container .active-selection-1 {
  background: url(./assest/product-check-1.svg);
  background-size: 100% 100%;
}
.product-card .price-container .active-selection-2 {
  background: url(./assest/product-check-2.svg);
  background-size: 100% 100%;
}
.product-card .price-container .active-selection-3 {
  background: url(./assest/product-check-3.svg);
  background-size: 100% 100%;
}
.product-card .price-container .active-selection-4 {
  background: url(./assest/product-check-4.svg);
  background-size: 100% 100%;
}
.product-card .price-container .delete-selection {
  background: url(./assest/delete.svg);
  background-size: 100% 100%;
}

#comparison-app[data-callpased=true] .app-sidebar {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
#comparison-app[data-callpased=true] .app-sidebar .expand-btn {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#comparison-app[data-callpased=true] .canvas-area {
  width: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.mousepoint-off {
  cursor: -webkit-zoom-out !important;
  cursor: zoom-out !important;
}

.app-logo {
  max-height: 6.7rem;
  height: auto;
  width: 14rem;
}

.app-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 26px;
}

#main-navbar {
  padding-top: 31px;
  position: relative;
  z-index: 3;
}

path.cls-1 {
  fill: black;
}

.svg-ari {
  max-height: 100%;
}

.canvas-area {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
  margin-left: auto;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.canvas-area > * {
  width: 87%;
  margin-left: auto;
  margin-right: auto;
}
.canvas-area .canvas-header .button.switch-button {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
  color: #fff;
  font-family: "Hansief";
  font-size: 1.1rem;
  opacity: 0.5;
  font-weight: 400;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.canvas-area .canvas-header h1 {
  color: #fff;
  font-size: 3rem;
}
.canvas-area .canvas-header .button[data-active=true] {
  opacity: 1;
  cursor: default;
}
.canvas-area .canvas-header .outline-profile-switch {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  grid-gap: 0.9rem;
}
.canvas-area .canvas-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 2.3rem;
  padding-top: 5rem;
  min-height: 52vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.canvas-area .canvas-content .complete-graph {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.canvas-area [data-callpased=true] {
  padding-top: 5rem;
}
.canvas-area [data-callpased=true] .snowboard-graphics-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.canvas-area [data-callpased=true][data-alignbottom=true] .snowboard-graphics-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: auto;
}
.canvas-area [data-callpased=true][data-alignbottom=true][data-lineview=true] .snowboard-graphics-container {
  position: absolute;
  left: 0;
  bottom: auto;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  top: auto;
}
.canvas-area [data-lineview=true] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.canvas-area [data-lineview=true][data-alignbottom=true] .graphics-img-container {
  margin-right: auto;
}
.canvas-area [data-alignbottom=true] .graphics-img-container {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}
.canvas-area .complete-graph {
  display: none;
}
.canvas-area .graphic-text h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 151px;
  text-transform: capitalize;
}
.canvas-area [data-callpaseds=true] .graph-canvas {
  display: none !important;
}
.canvas-area [data-callpaseds=true] .graphic-text h5 {
  padding-bottom: 2rem;
}
.canvas-area [data-graph=true][data-active=true] .graph-canvas {
  display: block;
}
.canvas-area .complete-graph[data-activestatus=true][data-callpaseds=true][data-graph=true] {
  display: block;
}
.canvas-area .canvas-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 2.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.canvas-area .canvas-text .graphic-text {
  display: none;
}
.canvas-area .canvas-text[data-active=true] .graphic-text {
  display: block;
}
.canvas-area .snowboard-graphics-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-height: 90%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.canvas-area .snowboard-graphics-container .graphic-text {
  padding-top: 2rem;
}
.canvas-area .snowboard-graphics-container .graphics-img-container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 2000px) {
  .canvas-area .snowboard-graphics-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .canvas-area .snowboard-graphics-container .graphics-img-container {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}
.canvas-area .snowboard-graphics-container h5 {
  color: #fff;
}

.canvas-area-zoom {
  position: fixed;
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
  right: 0;
  top: 0;
}

.zoom-img {
  position: fixed;
  width: 80px;
  z-index: 99;
  cursor: pointer;
}

.toolbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 2%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 70px;
  z-index: 99;
}
.toolbar-container .toolbar-options {
  width: 70px;
  height: 70px;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}
.toolbar-container .collapsible {
  background: url(./assest/collapsible.svg);
  background-size: 100% 100%;
}
.toolbar-container .collapsible[data-button-active=true] {
  background: url(./assest/collapsible_active.svg);
  background-size: 100% 100%;
}
.toolbar-container .base {
  background: url(./assest/base.svg);
  background-size: 100% 100%;
}
.toolbar-container .base[data-button-active=true] {
  background: url(./assest/base_active.svg);
  background-size: 100% 100%;
}
.toolbar-container .graph {
  background: url(./assest/graph.svg);
  background-size: 100% 100%;
}
.toolbar-container .graph[data-button-active=true] {
  background: url(./assest/graph_active.svg);
  background-size: 100% 100%;
}

.product-graphics-box {
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  background: #fff;
}

img.image-center {
  max-width: 380px;
  display: block;
  margin: auto;
}

/*==========basic  css start===========*/
.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: lightgray;
}

h1 {
  font-size: 55px;
  font-family: "Hansief";
  font-weight: 500;
  letter-spacing: 1px;
}

img {
  width: 100%;
}

.wall-background {
  background-image: url(./assest/wall.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  height: 850px;
}

/*==========basic  css end===========*/
/*================================About page css start=================================*/
/*==========About first text css start===========*/
.main-div {
  margin-top: 70px;
  padding: 0 140px;
  padding-top: 7rem;
  color: white;
}
.main-div .heading-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 10px;
}
.main-div .in-text {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  padding: 10px;
}

/*==========About first text css end===========*/
/*==========About second text css start===========*/
.JARED-img {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  margin-top: 40px;
  position: relative;
  padding: 10px;
}
.JARED-img .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 30%;
}
.JARED-img .social-icon img {
  width: 15px;
  padding: 10px;
}
.JARED-img .social-icon img:hover {
  opacity: 60%;
}

.JARED-text {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  margin-left: auto;
  margin-top: 60px;
  padding: 10px;
}
.JARED-text h1 span {
  font-size: 15px;
  color: lightgray;
  font-family: "Poppins", sans-serif;
}
.JARED-text p {
  margin: 20px 0;
}

/*==========About second text css start===========*/
/*================================About page css start=================================*/
/*------About page member group start---------*/
.member-group {
  margin: 60px 0;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.member-group .member-img {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.member-group .member-info {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  margin: 20px;
}
.member-group .member-info h2 {
  font-size: 35px;
  font-family: "Hansief";
  font-weight: 500;
  letter-spacing: 1px;
}
.member-group .member-info h2 span {
  font-size: 15px;
  color: #979797;
  font-family: "Poppins", sans-serif;
  text-align: end;
}
.member-group .member-info p {
  color: #616161;
  padding: 10px 0;
  font-weight: 300;
}
.member-group .member-info .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.member-group .member-info .social-icon img {
  width: 15px;
  padding: 10px;
}
.member-group .member-info .social-icon img:hover {
  opacity: 60%;
}

/*------About page member group end---------*/
/*-------Contact page css start---------*/
.container-fluid {
  width: 100%;
}

.contact-wall {
  background-image: url(./assest/cont-wall.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 20px 0;
}
.contact-wall .contact-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-left: 90px;
}
.contact-wall .contact-text h3 {
  color: white;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.contact-wall .contact-text p {
  max-width: 300px;
  color: white;
  margin: 10px 0;
}
.contact-wall .contact-menu {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.contact-wall .contact-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-wall .contact-menu ul li {
  list-style: none;
}
.contact-wall .contact-menu ul li a {
  color: white;
  padding: 10px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}
.contact-wall .boder {
  border-top: 1px solid #40424e;
  margin: 20px 80px;
}
.contact-wall .boder .social-icon {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-top: 20px;
}
.contact-wall .boder .social-icon img {
  width: 15px;
  padding: 10px;
}
.contact-wall .boder .social-icon img:hover {
  opacity: 60%;
}
.contact-wall .boder .text-last {
  margin-top: 20px;
  font-size: 15px;
  margin-left: auto;
  margin-right: 50px;
}

/*-------Contact page css end---------*/
/*===============Mobile Responive css start===============*/
@media (min-width: 320px) and (max-width: 1020px) {
  .row {
    display: block;
  }

  nav ul {
    width: 100%;
  }

  .main-div {
    padding: 0px;
  }

  .wall-background {
    height: 1050px;
  }

  .contact-wall .contact-text {
    margin-left: 22px;
  }
  .contact-wall .boder {
    margin: 20px 25px;
  }
}
/*===================== ipad pro-================*/
@media (min-width: 1020px) and (max-width: 1360px) {
  nav {
    margin: 10px 2px;
  }
  nav ul {
    width: 40%;
  }

  .container {
    max-width: 981px;
  }

  .main-div {
    padding: 0 10px;
  }

  .JARED-img .social-icon {
    bottom: 56px;
  }
}
/*===================== Big  Screen  -================*/
@media (min-width: 1500px) and (max-width: 1930px) {
  .container {
    max-width: 1610px;
  }

  .wall-background {
    height: 1040px;
  }
}
/*=============================Second page Invest Page css start=============================*/
.wall-Invest {
  background-color: #353848;
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  height: auto;
  padding-bottom: 60px;
}

.Invest-main {
  position: relative;
  padding-top: 7rem;
}
.Invest-main .fly-img {
  position: absolute;
  top: 20px;
  right: 0;
}
.Invest-main .fly-img img {
  width: 450px;
  height: 350px;
}
.Invest-main .cloud-img {
  position: absolute;
  bottom: -20%;
  left: 0;
}
.Invest-main .cloud-img img {
  width: 400px;
  height: 200px;
}
.Invest-main .Invest-text {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  margin: 60px;
}
.Invest-main .Invest-text h1 {
  color: white;
  margin: 10px 0;
}
.Invest-main .Invest-text p {
  padding: 10px 0;
}
.Invest-main .INVESTMENT {
  border-top: 1px solid #adadad;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  margin: auto;
}
.Invest-main .INVESTMENT::before {
  content: "WHY INVESTMENT";
  background-color: #353848;
  width: 180px;
  height: 15px;
  margin: auto;
  text-align: center;
  color: #d1d1d1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*------Question page  HTML start--------*/
.columes {
  margin-top: 80px;
  margin-bottom: 50px;
}
.columes .two {
  margin: 0 !important;
  padding: 0;
  border-bottom: none !important;
}
.columes .row {
  padding: 0 30px;
  margin: 30px 0 0 0;
  border-bottom: 1px solid gray;
}
.columes .row .last {
  border-right: none !important;
}
.columes .row .colume {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  border-right: 1px solid gray;
  padding: 20px 40px;
}
.columes .row .colume h3 {
  color: #2741CC;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.columes .row .colume h6 {
  color: #e7e7e7;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 10px 0;
}

/*---------QUICK INVEST css start-----------*/
.Qick-wall {
  background: #fff url(./assest/quick.png);
  background-position: left;
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin-top: 35px;
  margin-bottom: 35px;
}
.Qick-wall .QUICK-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 60px 40px;
}
.Qick-wall .QUICK-Login {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.Qick-wall .QUICK-Login h1 {
  color: #2741CC;
  font-size: 35px;
  margin: 40px;
}

/*-----input items css start-----*/
.wrapper {
  margin: 40px;
}
.wrapper .input-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.wrapper .input-fields p {
  color: black;
  font-weight: 700;
}
.wrapper .input-fields .input {
  width: 100%;
  color: #000000;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 10px 0;
  border-bottom: 1px solid gray;
  margin: 10px 0;
  background-color: transparent;
}
.wrapper .contact-form .button {
  width: 100%;
  height: 50px;
  background-color: #2741CC;
  margin: 40px 0;
  border: none;
}
.wrapper .contact-form .button img {
  width: 8px;
}
.wrapper .contact-form .button::before {
  content: "INVESTMENT";
  color: white;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  padding: 0 15px;
}
.wrapper .contact-form button {
  background: blue;
  border: none;
  padding: 20px;
  cursor: pointer;
}

/*===============Second Mobile Responive css start===============*/
@media (min-width: 320px) and (max-width: 1020px) {
  .colume {
    border: none !important;
  }
}
/*=============================Third page Login-Page css start=============================*/
.wall-Login {
  background-image: url(./assest/login-wall.jpg);
  background-position: center;
  width: 100%;
  overflow: hidden;
  height: auto;
}

.login-text {
  text-align: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-top: 20%;
}
.login-text img {
  width: 40px;
}
.login-text p {
  padding: 10px;
}

.login-side {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.login-side .login-uptext {
  margin: 15px 40px;
  color: white;
}
.login-side .login-facebook {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px dashed white;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 40px;
  text-decoration: none;
}
.login-side .login-facebook img {
  width: 36px;
}
.login-side .login-facebook p {
  font-weight: 700;
  color: white;
  padding: 0 5px;
}
.login-side .input-fields .input {
  border-bottom: 1px solid white;
  padding: 4px 0;
}
.login-side .input-fields P {
  color: white;
  margin-top: 5px;
}
.login-side .check-btngroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}
.login-side .check-btngroup input[type=checkbox] {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: transparent;
  margin-right: 16px;
}
.login-side .check-btngroup label {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.login-side .check-btngroup .check-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.login-side button.login-submit {
  background: #2741CC;
  padding: 10px 20px;
  margin-top: 23px;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.login-side .wrapper .contact-form .button::before {
  content: "LOG IN";
}

img.loading-image {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 70px;
  display: block;
  margin: 0 auto;
}

.loading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-row-gap: 20px;
  min-height: 60vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.loading-container h5 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

/*============================wall-Education css start===============================*/
.wall-Education {
  background-image: url(./assest/education.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  height: auto;
  padding-top: 6rem;
}

.left-right {
  margin-left: auto !important;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.left-right img {
  width: 30px;
  padding: 0 10px;
}
@media (min-width: 1500px) {
  .left-right {
    display: none;
  }
}

.left-right > div {
  cursor: pointer;
}

.card-position {
  height: 90vh;
  position: relative;
  max-width: 100%;
}

.left-part {
  position: absolute;
  left: 10%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.right-part {
  position: absolute;
  left: -10%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.card-group {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  height: 280px;
  width: 240px;
  margin: 20px;
  padding: 40px;
  position: relative;
}
.card-group h1 {
  font-size: 35px;
}
.card-group .move-in {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.card-group .move-in .button {
  background-color: transparent;
  border: none;
}
.card-group .move-in .button img {
  width: 6px;
  margin-top: 18px;
}
.card-group .move-in .button::before {
  content: "LEARN";
  color: black;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  padding: 0 10px;
  font-weight: 800;
}

.first, .third {
  background-color: white;
  color: black;
}
.first .boat-position, .third .boat-position {
  position: absolute;
  width: 130px;
  right: 20px;
  top: 0;
}
.first .third-position, .third .third-position {
  position: absolute;
  width: 360px;
  right: 0px;
  left: 0;
  top: 0;
}

.second {
  background-image: url(./assest/black-img.png);
  background-size: cover;
  background-position: center;
  color: white;
}
.second .button::before {
  color: white !important;
}

/*===============Thrirs Mobile Responive css start===============*/
@media (min-width: 320px) and (max-width: 1020px) {
  .change-part {
    margin: 10px;
  }

  .card-position {
    height: 100vh;
  }
}
/*============================one-page css start===============================*/
.click-item {
  margin: 0px;
  background-color: #353848;
  width: 130px;
  height: 100%;
  position: fixed;
  top: 0;
}

.white-page {
  max-width: 1227px;
  margin-left: 9%;
  background: #fff;
}
.white-page .row {
  padding: 10px 40px;
}
.white-page .one-heading {
  margin: 40px 0;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.white-page .one-heading h1 {
  font-size: 35px;
  padding: 5px 0;
}
.white-page .one-text {
  margin-top: 10%;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
.white-page .one-text p {
  color: black;
}
.white-page .guide-map {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 50px;
  margin-left: 10%;
}
.white-page .base-meterial {
  padding: 10px 0;
}
.white-page .base-meterial h2 {
  font-size: 35px;
  padding: 10px 0;
  font-family: "Hansief";
  letter-spacing: 2px;
}
.white-page .base-meterial p {
  color: black;
  padding: 10px 0;
  font-weight: bold;
}
.white-page .base-meterial span {
  color: black;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.white-page .compare-img {
  margin: auto;
}
.white-page .compare-img img {
  width: 220px;
}
.white-page .only-peragraphs {
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}
.white-page .only-peragraphs p {
  color: black;
  font-weight: 500;
}
.white-page .compare-area {
  margin: 20px auto;
}
.white-page .compare-area img {
  width: 520px;
}
.white-page .main-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
  border-bottom: 1px solid #e0e0e0;
}
.white-page .main-box .blue-box .first-bluebox {
  width: 360px;
  height: 20px;
  border: 1px solid blue;
  background-color: transparent;
  color: black;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 15px;
  font-weight: bold;
}
.white-page .compare-img2 {
  margin: 40px auto;
}
.white-page .compare-img2 img {
  width: 300px;
  height: 80px;
}
.white-page .compare-img3 {
  margin: 40px auto;
}
.white-page .compare-img3 p {
  color: #313A89;
}
.white-page .compare-img3 img {
  width: 350px;
  height: 230px;
}
.white-page .compare-img4 {
  margin: 40px auto;
}
.white-page .compare-img4 img {
  width: 350px;
  height: 160px;
  margin-left: 50px;
  margin-top: 30px;
}

.number-box {
  margin: 40px auto;
  width: 100%;
  max-width: 780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.number-box .first-inbox {
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}
.number-box .first-inbox .in-top {
  background-color: #2741CC;
  color: white;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  height: 35px;
  padding-top: 5px;
}
.number-box .first-inbox .blank-number {
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #f0f0f0;
  padding: 5px 10px;
  text-align: center;
  height: 35px;
}

.snowboard-menu.container {
  position: absolute;
  left: 0%;
  top: 3%;
  width: 100%;
  display: block;
  max-width: 100%;
  z-index: 9;
}
.snowboard-menu.container .app-header {
  width: 100%;
  max-width: 1160px;
  margin: auto;
}
@media (min-width: 1600px) {
  .snowboard-menu.container .app-header {
    width: 90%;
    max-width: 1590px;
  }
}

/*===============on click page Mobile Responive css start===============*/
@media (min-width: 320px) and (max-width: 1020px) {
  .white-page {
    margin-left: 0%;
  }
  .white-page .row {
    padding: 0px;
  }
  .white-page .compare-area img {
    width: 372px;
  }

  .click-item {
    width: 100%;
    height: 73px;
  }

  nav #icon {
    margin: 0 10px;
  }

  .white-page .one-heading {
    margin-top: 78px;
  }
  .white-page .guide-map {
    padding: 10px;
    margin: 0;
  }
  .white-page .compare-img4 img {
    width: 311px;
  }
  .white-page .main-box .blue-box .first-bluebox {
    width: 290px;
  }

  .row {
    margin: 3px;
  }

  .number-box .first-inbox .first-inbox {
    height: 50px;
  }
}
@media (min-width: 1020px) and (max-width: 1360px) {
  .white-page {
    max-width: 898px;
    margin-left: 12%;
  }
}
@media (min-width: 1690px) and (max-width: 1930px) {
  .white-page {
    max-width: 1789px;
    margin-left: 6%;
  }
  .white-page .row {
    padding: 0 60px;
  }
  .white-page .row .one-text {
    margin-top: 6%;
  }
}
/*============================one black-page css start===============================*/
.black-page {
  max-width: 1227px;
  color: white;
  background-color: black;
  margin-left: 9%;
}
.black-page .row {
  padding: 0 30px;
}
.black-page .row .one-text {
  margin-top: 9%;
}
.black-page .row p, .black-page .row span {
  color: #dfdfdf;
}

@media (min-width: 320px) and (max-width: 1020px) {
  .black-page {
    margin-left: 0%;
  }
}
@media (min-width: 1020px) and (max-width: 1360px) {
  .black-page {
    max-width: 898px;
    margin-left: 12%;
  }
}
@media (min-width: 1690px) and (max-width: 1930px) {
  .black-page {
    max-width: 1789px;
    margin-left: 6%;
  }
  .black-page .row {
    padding: 0 60px;
  }
  .black-page .row .one-text {
    margin-top: 6%;
  }
}
/*============================one-page css start===============================*/
.third-pageclick {
  max-width: 1227px;
  color: black;
  background-color: white;
  margin-left: 9%;
}
.third-pageclick .row {
  padding: 0 30px;
}
.third-pageclick .row .one-text {
  margin-top: 9%;
}
.third-pageclick .row p, .third-pageclick .row span {
  color: #414141;
}

@media (min-width: 320px) and (max-width: 1020px) {
  .third-pageclick {
    margin-left: 0%;
  }
}
@media (min-width: 1020px) and (max-width: 1360px) {
  .third-pageclick {
    max-width: 898px;
    margin-left: 12%;
  }
}
@media (min-width: 1690px) and (max-width: 1930px) {
  .third-pageclick {
    max-width: 1789px;
    margin-left: 6%;
  }
  .third-pageclick .row {
    padding: 0 60px;
  }
  .third-pageclick .row .one-text {
    margin-top: 6%;
  }
}
/*============================choose board page css start===============================*/
.choose-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}
.choose-box .box-flow {
  height: 24px;
  background-color: #2741CC;
  color: white;
  font-size: 15px;
  font-family: "Hansief";
  font-weight: 500;
  margin: 30px 40px;
  padding: 15px 40px;
  text-align: start;
}
.choose-box .ways {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.choose-box .ways img {
  width: 38px;
  z-index: 999;
}
.choose-box .box-flow:after {
  content: "";
  width: 90px;
  height: 0px;
  color: white;
  background-color: #121111;
  position: absolute;
  margin-left: 4%;
  top: 50%;
  border: 0.1px dashed #464545;
}
.choose-box .box-flow:last-child:after {
  display: none;
}

@media (min-width: 320px) and (max-width: 1020px) {
  .choose-box .box-flow:after {
    content: "";
    width: 58px;
  }
  .choose-box .box-flow {
    height: 40px;
    margin: 17px 10px;
    padding: 4px 17px;
  }
}
#loader {
  position: fixed;
  z-index: 999999;
  background: #353848;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#loader .center-icon {
  width: 90px;
  display: block;
}
#loader h5 {
  color: #fff;
  font-size: 1.5rem;
}

.loader-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-container {
  padding-top: 8rem;
  max-width: 1160px;
  margin: 0 auto;
}
.login-container .login-text p {
  text-align: left;
}

/*===---------------only side toggle page css small page------------===*/
.side-filteroption {
  background-color: black;
  width: 30vw;
  height: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: scroll;
}
.side-filteroption .top-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 35px;
}
.side-filteroption .top-title h1 {
  color: white;
  font-size: 20px;
  margin-bottom: 0px;
  padding: 0px;
}
.side-filteroption .top-title .close-btn {
  color: white;
  font-size: 45px;
  font-weight: 500;
  text-decoration: none;
}
.side-filteroption .top-title button.apply-filter {
  padding: 11px 17px;
  background: #005FCF;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
.side-filteroption .top-title .button-container-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-column-gap: 10px;
}
.side-filteroption .accordion .mainAccordion {
  padding: 10px 40px;
}
.side-filteroption .accordion .mainAccordion .Accordion-label {
  color: white;
  font-family: "Hansief";
  font-size: 20px;
  position: relative;
  cursor: pointer;
}
.side-filteroption .accordion .mainAccordion .Accordion-label::before {
  content: "+";
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  color: white;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.side-filteroption .accordion .mainAccordion .Accordion-content {
  color: white;
  margin: 5px 0;
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.side-filteroption .accordion .mainAccordion .Accordion-content .middle .multi-range-slider input {
  width: 100%;
  height: 6.1px;
  background: dimgray;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  margin: 0;
}
.side-filteroption .accordion .mainAccordion .Accordion-content .check-box {
  padding: 10px 0;
  border-bottom: 1px solid #646262;
}
.side-filteroption .accordion .mainAccordion .Accordion-content .check-box input[type=checkbox] {
  width: 18px;
  height: 18px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: transparent;
}
.side-filteroption .accordion .mainAccordion .Accordion-content .check-box label {
  color: #e6e6e6;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0 10px;
}
.side-filteroption .accordion .active-content .Accordion-content {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.side-filteroption .accordion .active-content .Accordion-label::before {
  content: "-";
}
.side-filteroption::-webkit-scrollbar {
  width: 5px;
}
.side-filteroption::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.side-filteroption::-webkit-scrollbar-thumb {
  background-color: #2741CC;
  outline: none;
}

.side-filteroption[data-active=true] {
  display: block;
}

.body .side-filteroption .accordion .mainAccordion.active-content .Accordion-content {
  height: 130px;
}

.body .side-filteroption .accordion .mainAccordion.active-content .Accordion-label::before {
  content: "-";
}

a.login-submit {
  border: 1px solid #fff;
  padding: 10px 20px;
  margin-top: 30px;
  display: inline-block;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.dashboard {
  background: #444349;
}

.padding-top {
  padding-top: 50px;
  padding-bottom: 50px;
}

.dashboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-top: 50px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 30px;
}
.dashboard-container .user-box {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  color: #fff;
  text-align: center;
}
.dashboard-container .user-box img.user-image {
  width: 100px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.dashboard-container .user-box h3, .dashboard-container .user-box h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.dashboard-container .user-box h5 {
  color: #A9A9A9;
}
.dashboard-container .user-box .user-image-container {
  position: relative;
}
.dashboard-container .user-box .user-image-container .edit-content {
  position: absolute;
  width: 30px;
  bottom: -6px;
}
.dashboard-container .user-docs {
  -ms-flex-preferred-size: calc(100% - 200px);
      flex-basis: calc(100% - 200px);
}
.dashboard-container .user-docs .user-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}
.dashboard-container .user-docs .user-tabs .tabs {
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.dashboard-container .user-docs .user-tabs .tab-link-active {
  background: #2741CC;
}
.dashboard-container .div {
  padding: 40px;
  background: #242128;
}
.dashboard-container .tab-content {
  display: none;
}
.dashboard-container .tab-content-active {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dashboard-container .tab-content-active .product-card {
  width: 49%;
}
.dashboard-container .group-card {
  color: #fff;
  background: #5B5A60;
  border: 1px solid #fff;
  padding: 20px;
  padding-right: 70px;
}
.dashboard-container .group-card img.group-class {
  width: 33px;
  border-radius: 50%;
  height: 33px;
  border: 2px solid #5b5a60;
}
.dashboard-container .group-card .group-class:nth-child(2) {
  margin-left: -17px;
}
.dashboard-container .group-card .images-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dashboard-container .group-card .number-circle {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: red;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  margin-left: -17px;
}
.dashboard-container .group-card h3 {
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: 400;
}
.dashboard-container .tab-content .wrapper {
  width: 100%;
}
.dashboard-container .wrapper .user-panel-profile {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dashboard-container .wrapper .user-panel-profile > div {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  width: 45%;
  color: #fff;
}
.dashboard-container .wrapper .user-panel-profile > div p {
  color: #fff;
}
.dashboard-container .wrapper .user-panel-profile > div input {
  color: #fff;
}

.multi-range-slider {
  margin-top: 20px;
}

.numbercontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.numbercontainer h1 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.team-container {
  background: #fff;
  padding: 46px;
}