$primary : #2741CC;
$secondry : #353848;
$black : #000000;

$large: 55px;
$small: 15px;
$middel: 35px;


@font-face {
    font-family: 'Hansief';
    src: url('./fonts/Hansief.woff2') format('woff2'),
        url('./fonts/Hansief.woff') format('woff'),
        url('./fonts/Hansief.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body
{
    padding : 0;
    margin : 0;
    font-family: 'Poppins', sans-serif;

    &::-webkit-scrollbar {
        width: 10px;

      }
       
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background: $secondry;
      }
       
      &::-webkit-scrollbar-thumb {
        background-color: $primary;
        outline: none;
      }
}

h1
{
    font-family: 'Hansief';
    font-size: 2.4rem;
    font-weight: normal;
    padding-bottom: 15px;
}

h4
{
    font-size: 1rem;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
}

h5
{
    font-family: 'Hansief';
    font-size: 13px;
    font-weight: normal;
    color : #fff;
}

canvas
{
  display: block;
  margin: auto;
}

.graph-canvas
{
    margin-top: 2rem;
    display: none;
}

@media(min-width : 1800px)
{
    h4
    {
        font-size: 1.2rem;
    }
    h5
    {
        font-size: 1rem;
    }
}

*
{
    margin : 0;
    padding : 0;
}

.button
{
    cursor: pointer;
    text-decoration: none;
}

@media(min-width : 1024px)
{
    :root
    {
        font-size: 12px;
    }
}

@media(min-width : 1280px)
{
    :root
    {
        font-size: 14px;
    }
}


@media(min-width : 1800px)
{
    :root
    {
        font-size: 21px;
    }
}

@media(min-width : 2200px)
{
    :root
    {
        font-size: 27px;
    }
}
.container
{
    width: 100%;
    max-width: 1200px;
    margin : 0 auto;
}

.navbar-link
{
    cursor: pointer;
    width: auto;
}




#menu
{
   position: fixed;
   top: 0;
   left: 0%;
   background-color: rgb(255, 255, 255);
   width: 18%;
   height: 100vh;
    transition: all .5s;
    z-index: 9999;
    .login
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px;
        .close-btn 
        {
           font-size: 50px;
           font-weight: 300;
        }
        img 
        {
            width: 24px;

        }
        input 
        {
            border: none;
            border-bottom: 1px solid rgb(177, 177, 177);
            width: 100%;
            padding: 10px;
            margin: 0 10px;
        }
        ::-webkit-input-placeholder { /* Edge */
           color: rgb(165, 165, 165);
           font-size: $small;
           font-family: 'Poppins', sans-serif;
         }
         
    }
    .in-item
    {
       position: absolute;
       background-color: blue;
       bottom: 0%;
       width: 100%;
       height: 15vh;
       z-index: 9999;
       .social-icon
       {
           display: flex;
           position: absolute;
           bottom: 30px;
           left: 20%;
           img
           {
              width: 15px;
              padding: 10px;
           }
           img:hover{
               opacity: 60%;
           }
       }
    }

    li
    {
       display: block;
       margin: 30px 40px;
       line-height: 20px;
   }
   a 
   {
       color: rgb(10, 10, 10);
       text-transform: uppercase;
       text-decoration: none;
       font-size: $small;
       font-family: 'Poppins', sans-serif;
       font-weight: 800;
   }
   
#icon 
{
   float: left;
   margin-left: 40px;
   line-height: 80px;
   width: 20px;
   margin: 20px;
}

}

#menu.hidenav 
{
   left: -100%;
}

// choice section css
#choice-section
{
    width : 100%;
    background: linear-gradient(180deg, #0A3B66 -3.88%, #001A3D 100%);
    height: 100vh;
    overflow: hidden;
    position: relative;

    .mountain-bg
    {
        width: 100%;
        position: absolute;
        left : 0;
        right : 0;
        bottom : -29vh;
        z-index: 1;
        transition: all 0.4s;
    }

    .cloud-bg
    {
        width: 100%;
        position: absolute;
        left : 0;
        right : 0;
        top: 6%;
        z-index: 2;
    }


    img.brand-logo {
        width: 120px;
    }

    .choice-container
    {
        position: absolute;
        z-index: 5;
        width: 90%;
        max-width: 42rem;
        margin: 0 auto;
        display: flex;
        grid-gap: 2rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        .choice-box
        {
            flex : 1;
            background : $secondry;
            padding: 20px 30px;
            position: relative;
            overflow: hidden;
            z-index: 0;
            transition: all 0.4s;
            cursor: pointer;

            h1
            {
                font-family: 'Hansief';
                text-transform: uppercase;
                color : #fff;
                font-size: 2.8rem;
                font-weight: normal;
                padding-bottom: 4.5rem;
                padding-top: 3.5rem;
                
                &::before
                {
                    content: '';
                    display: block;
                    margin-bottom: 2rem;
                    width: 3.1rem;
                    height: 2px;
                    background: rgba(91, 90, 96, 1);
                }
            }

            &:hover
            {
                overflow: visible;
                background : transparent;

                .snow-img
                {
                    opacity: 1;
                    width: 150%;
                }

                .snow-compare
                {
                    left: -50%;
                }

                .snow-science
                {
                    right: -50%;
                }
                .choice-button
                {
                    background : transparent;
                    color : transparent;

                    &::after
                    {
                        opacity: 0;
                    }

                    &::before
                    {
                        opacity: 1;
                    }
                }

            }
        }

        .snow-img
        {
            position: absolute;
            width: 130%;
            bottom: -11%;
            opacity: 0.2;
            z-index: -1;
            transition: all 0.4s;
        }

        .snow-compare
        {
            left: -30%;
        }
        .snow-science
        {
            right : -30%;
        }
        .choice-button
        {
            background : $primary;
            padding : 15px 30px;
            color : #fff;
            text-transform: uppercase;
            font-size: 1rem;
            text-decoration: none;
            margin-bottom: 2.5rem;
            display: inline-block;
            position: relative;
            z-index: 0;

            &::after
            {
                content: "";
                background: url(./assest/arrow.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                width: 8px;
                height: 13px;
                margin-left: 20px;
                display: inline-block;
            }

            &::before
            {
                content: "";
                background: url(./assest/arrow-circle.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                width : 50px;
                height: 50px;
                position: absolute;
                right : 0px;
                top : 50%;
                transform: translateY(-50%);
                opacity: 0;
                z-index: -1;

            }

        }

        
    }

    .choice-container:hover + .mountain-bg
        {
            bottom: -10vh;
            filter: blur(2px);
            opacity: 0.7;
        }
}


//  comparison app

#comparison-app
{
    width: 100%;
    background: url(./assest/app-background.svg);
    background-size: 100% auto;
    min-height: 100vh;
    .app-sidebar
    {
        width: 30%;
        background: #000000;
        box-shadow: 0px 4px 60px rgb(36 33 40 / 68%);
        padding: 2.8rem 1.75rem;
        position: fixed;
        bottom: 0;
        top: 0;
        z-index: 99;
        box-sizing: border-box;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;

       

        @media(min-width: 2000px)
        {
            padding-bottom: 10px;
        }
    }

    .filter-container
    {
        display: flex;
        grid-gap: 25px;
        margin-top: 8vh;
    }

    .search-bar-container
    {
        width: 100%;
        display: flex;
        grid-gap: 10px;
        .search-input
        {
            border: none;
            outline: none;
            box-shadow: none;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            border-bottom: 1px solid rgba(255,255,255,0.3);
            flex-basis: 100%;
            background: none;
            box-sizing: border-box;
            font-size: 16px;
            padding-bottom: 5px;
            color : #fff;
            &::placeholder
            {
                color : rgba(255,255,255,0.3);
            }

            &:focus
            {
                border-bottom: 1px solid rgba(255,255,255,0.8);
            }

            &:hover
            {
                border-bottom: 1px solid rgba(255,255,255,0.8);
            }
        }
    }

    .filter-icon
    {
        cursor: pointer;
    }

    .product-listing
    {
        margin-top: 30px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 5px;

          }
           
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }
           
          &::-webkit-scrollbar-thumb {
            background-color: $primary;
            outline: none;
          }
    }

    .product-card
    {
        display: flex;
        grid-gap: 20px;
        background: rgba(91,90,96,.48);
        border: 1px solid rgba(255,255,255,0.7);
        box-sizing: border-box;
        padding : 9.5px;
        margin-bottom: 10px;
        width: 97%;

        .product-img-container
        {
            flex-basis: 20%;

            .product-img
            {
                width: 100%;
            }
        }

        .product-content
        {
            flex-basis: 75%;

            .title-content
            {
                display: flex;
                justify-content: space-between;

                h1
                {
                    font-size: 1.1rem;
                    font-family: "Poppins", sans-serif;
                    color : #fff;
                    font-weight: 600;
                    margin : 0;
                    padding-bottom: 0px;
                }

                h5
                {
                    color : #fff;
                    font-weight: 400;
                    font-size: 14px;
                    margin : 0;
                }
            }
        }

        .star
        {
            background: url(./assest/stars.png);
            background-size: auto 100%;
            height: 18px;
            background-repeat: no-repeat;
            margin : 3px 0px;
        }
        .star-4
        {
            width: 80px;
        }

        .star-5
        {
            width: 100px; 
        }

        .star-3
        {
            width: 60px;
        }

        .star-2
        {
            width: 40px;
        }

        .star-1
        {
            width: 20px;
        }

        .price-container
        {
            display: flex;
            justify-content: space-between;
            width: 100%;

            h3
            {
                color : #fff;
            }

            .selection-check
            {
                width: 30px;
                height: 30px;
                box-shadow: none;
                border : none; 
                cursor: pointer; 
            }

            .no-active-selection
            {
                background : url(./assest/plus.svg);
                background-size: 100% 100%;
            }
            .active-selection-1
            {
                background : url(./assest/product-check-1.svg);
                background-size: 100% 100%;
            }

            .active-selection-2
            {
                background : url(./assest/product-check-2.svg);
                background-size: 100% 100%;
            }

            .active-selection-3
            {
                background : url(./assest/product-check-3.svg);
                background-size: 100% 100%;
            }

            .active-selection-4
            {
                background : url(./assest/product-check-4.svg);
                background-size: 100% 100%;
            }
        }
    }
}

.app-logo
{
    max-height: 6.7rem;
    height: auto;
    width: 14rem;
}

.app-header {
    display: flex;
    align-items: center;
    grid-gap: 26px;
}

#main-navbar
{
    padding-top: 31px;
    position: relative;
    z-index: 3;
}

path.cls-1 {
    fill: black;
}

.svg-ari
{
    max-height: 100%;
}

.canvas-area
{
    width : 70%;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    margin-left: auto;
    
    > *
    {
        width: 87%;
        margin-left: auto;
        margin-right: auto;
    }

    .canvas-header
    {
        .button.switch-button {
            background: none;
            box-shadow: none;
            outline: none;
            border: none;
            color: #fff;
            font-family: "Hansief";
            font-size: 1.1rem;
            opacity: .5;
            font-weight: 400;
            letter-spacing: 0.1rem;
            cursor: pointer;
        }

        h1
        {
            color : #fff;
        }
        .button.switch-active
        {
            opacity: 1;
            cursor: default;
        }

        .outline-profile-switch
        {
            display: inline-flex;
            grid-gap: 0.9rem;
        }
    }

    .canvas-content
        {
            display: flex;
            grid-gap: 2.3rem;
            padding-top: 5rem;
            min-height: 52vh;
            justify-content: center;
            position: relative;
            .complete-graph
            {
                flex-basis: 100%;
            }
        }

        [data-callpased="true"]
        {
            padding-top: 5rem;
            .snowboard-graphics-container
            {
                position: absolute;
                left: 50%;
                top : 50%;
                transform: translate(-50%,-50%);
            }
        }

    [data-callpased="true"][data-alignbottom="true"]
    {
        .snowboard-graphics-container
        {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            top: auto;
        }
    }

        [data-alignbottom="true"]
        {
            .graphics-img-container
            {
                align-items: flex-end !important;
            }
        }

        
.complete-graph
{
    display: none;
}

        [data-callpaseds="true"]
        {
            .graph-canvas
            {
                display: none !important;
            }

            .graphic-text
            {
                h4
                {
                    padding-top: 2rem;
                }

                h5
                {
                    padding-bottom: 2rem;
                }
            }
        }

        
        [data-graph="true"]
        {
            .graph-canvas
            {
                display: block;
            }
        }


        [data-callpaseds="true"][data-graph="true"] + .complete-graph
        {
            display: block;
        }


        .canvas-text
        {
            display: flex;
            grid-gap: 2.3rem;
            justify-content: center;
        }

        .snowboard-graphics-container
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            max-height: 90%;
            flex-basis: 20%;

            .graphic-text
            {
                padding-top: 2rem;
            }

            .graphics-img-container
            {
                flex-basis: 100%;
                display: flex;
                align-items: center;        
               
            }

            @media(min-width : 2000px)
            {
                justify-content: center;
                .graphics-img-container
                {
                flex-basis: 70%;
                }
            }

            h5
            {
                color : #fff;
            }
        }
}

.toolbar-container
{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    max-width: 70px;
    z-index: 99;

    .toolbar-options
    {
        width: 70px;
        height: 70px;
        border : none;
        outline: none;
        box-shadow: none;
        cursor: pointer;
    }

    .collapsible
    {
        background : url(./assest/collapsible.svg);
        background-size: 100% 100%;
    }

    .collapsible[data-button-active=true]
    {
        background: url(./assest/collapsible_active.svg);
        background-size: 100% 100%;
    }

    .base
    {
        background : url(./assest/base.svg);
        background-size: 100% 100%;
    }

    .base[data-button-active=true]
    {
        background : url(./assest/base_active.svg);
        background-size: 100% 100%; 
    }

    .graph
    {
        background : url(./assest/graph.svg);
        background-size: 100% 100%;
    }

    .graph[data-button-active=true]
    {
        background : url(./assest/graph_active.svg);
        background-size: 100% 100%;
    }

}


.product-graphics-box
{
    -webkit-mask-position: center center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    background: #fff;
}


img.image-center {
    max-width: 380px;
    display: block;
    margin: auto;
}


$large: 55px;
$small: 15px;
$middel: 35px;

/*==========basic  css start===========*/
.container
{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}
.row
{
  display: flex;
}
p
{
    font-size: $small;
    font-family: 'Poppins', sans-serif;
    color: rgb(211, 211, 211);
}
h1
    {
        font-size: $large;
        font-family: 'Hansief';
        font-weight: 500;
        letter-spacing: 1px;
    }
img
{
    width: 100%;
}
.wall-background {
    background-image: url(./assest/wall.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    height: 850px;
}
/*==========basic  css end===========*/




/*================================About page css start=================================*/


/*==========About first text css start===========*/
.main-div{
    margin-top: 70px;
    padding: 0 140px;
    color: white;
    .heading-text
    {
        flex-basis: 45%;
        padding: 10px;
    }
    .in-text
    {
        flex-basis: 55%;
        padding: 10px;
    }
   
}
/*==========About first text css end===========*/


/*==========About second text css start===========*/
   .JARED-img
   {
       flex-basis: 35%;
       margin-top: 40px;
       position: relative;
       padding: 10px;

       .social-icon
       {
        display: flex;
        position: absolute;
        bottom: 30px;
        left: 30%;
        img
        {
           width: 15px;
           padding: 10px;
        }
        img:hover{
            opacity: 60%;
        }
      }
   }
   .JARED-text
   {
       flex-basis: 55%;
       margin-left: auto;
       margin-top: 60px;
       padding: 10px;
     h1 span
     {
       font-size: $small;
       color: rgb(211, 211, 211);
       font-family: 'Poppins', sans-serif;
     }
     p
     {
         margin: 20px 0;
     }
   }
/*==========About second text css start===========*/


/*================================About page css start=================================*/

/*------About page member group start---------*/
.member-group{
    margin: 60px 0;
    flex-basis: 50%;
    .member-img
    {
        flex-basis: 45%;
    }
    .member-info
    {
        flex-basis: 55%;
        margin: 20px;
        h2
        {
            font-size: $middel;
            font-family: 'Hansief';
            font-weight: 500;
            letter-spacing: 1px;
            span
            {
              font-size: $small;
              color: rgb(151, 151, 151);
              font-family: 'Poppins', sans-serif;
              text-align: end;
            }
        }
        p 
          {
          color: rgb(97, 97, 97);
          padding: 10px 0;
          font-weight: 300;
           }
        .social-icon{
            display: flex;
        img
            {
              width: 15px;
              padding: 10px;
           }
           img:hover
           {
            opacity: 60%;
           }
        }
    }
}
/*------About page member group end---------*/

/*-------Contact page css start---------*/
       .container-fluid{
           width: 100%;
       }
       .contact-wall{
           background-image: url(./assest/cont-wall.png);
           background-position: center;
           background-size: cover;
           width: 100%;
           padding: 20px 0;
           .contact-text
           {
               flex-basis: 50%;
               margin-left: 90px;
               h3 
               {
                   color: white;
                   font-size: $middel;
                   font-family: 'Poppins', sans-serif;
                   font-weight: 500;
               }
               p 
               {
                   max-width: 300px;
                   color: white;
                   margin: 10px 0;
               }
           }
           .contact-menu
           {
               flex-basis: 50%;
               ul 
               {
                   display: flex;
                   margin-top: 20px;
                   justify-content: center;
                   li  
                   {
                     list-style: none;
                     a
                      {
                        color: white;
                        padding: 10px;
                        font-size: $small;
                        font-family: 'Poppins', sans-serif;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 400;
                     }
                   }
               }
           }
          
            
          .boder
          {
              border-top: 1px solid rgb(64, 66, 78);
              margin: 20px 80px;
            .social-icon
            {
                flex-basis: 50%;
                margin-top: 20px;
               img
                {
                   width: 15px;
                   padding: 10px;
                }
                img:hover
                {
                    opacity: 60%;
                }
             }
             .text-last
             {
                 margin-top: 20px;
                 font-size: $small;
                 margin-left: auto;
                 margin-right: 50px;
             }
          }

       }
/*-------Contact page css end---------*/


/*===============Mobile Responive css start===============*/
@media (min-width: 320px) and (max-width: 1020px)
{
    $large: 45px;
    $small: 13px;
    $middel: 25px;

    .row
    {
      display: block;
    }

    nav
    {
        ul
        {
            width: 100%;
        }
    }

    .main-div
     {
        padding: 0px;
      }

      .wall-background
       {
        height: 1050px;
       }

    .contact-wall
       {
        .contact-text 
        {
            margin-left: 22px;
        }
        .boder
         {
            margin: 20px 25px;
          }
      }
    
}

/*===================== ipad pro-================*/
@media (min-width: 1020px) and (max-width: 1360px)
{
    nav
     {
        margin: 10px 2px;
        ul 
        {
            width: 40%;
        }
    }
    .container {
        max-width: 981px;
    }
    .main-div 
    {
        padding: 0 10px;
    }
    .JARED-img 
     {
        .social-icon
        {
            bottom: 56px;
        }
       
    }
}
/*===================== Big  Screen  -================*/
@media (min-width: 1500px) and (max-width: 1930px)
{
    $large: 65px;
    $small: 19px;
    $middel: 35px;
    .container
     {
        max-width: 1610px;
       
    }
    .wall-background
     {
        height: 1040px;
    }
}

/*=============================Second page Invest Page css start=============================*/
.wall-Invest {
    background-color: #353848;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    height: auto;
    padding-bottom: 60px;
}
.Invest-main{
        position: relative;
        .fly-img
        {
            position: absolute;
            top: 20px;
            right: 0;
            img 
            {
                width: 450px;
                height: 350px;
            }
        }
        .cloud-img
        {
            position: absolute;
            bottom: -20%;
            left: 0;
            img 
            {
                width: 400px;
                height: 200px;
            }
        }
    .Invest-text
    {
        flex-basis: 65%;
        margin: 60px;
        h1 
        {
            color: white;
            margin: 10px 0;
        }
        p 
        {
            padding: 10px 0;
        }
    }
    .INVESTMENT
    {
        border-top: 1px solid rgb(173, 173, 173);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 80%;
        margin: auto;
    }
    .INVESTMENT::before
    {
        content: "WHY INVESTMENT";
        background-color: #353848;
        width: 180px;
        height: 15px;
        margin: auto;
        text-align: center;
        color: rgb(209, 209, 209);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: $small;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

/*------Question page  HTML start--------*/
.columes 
{
    margin-top: 80px;
    margin-bottom: 50px;
    .two
    {
        margin: 0 !important;
        padding: 0;
        border-bottom: none !important;
    }
    .row 
    {
        padding: 0 30px;
        margin: 30px 0 0 0;
        border-bottom: 1px solid gray;
        .last
        {
            border-right: none !important;
        }
        .colume 
        {
            flex-basis: 35%;
            border-right: 1px solid gray;
            padding: 20px 40px;
            h3 
            {
                color: #2741CC;
                font-size: $middel;
                font-family: 'Poppins', sans-serif;
                font-weight: 800;
            }
            h6 
            {
                color: #e7e7e7;
                font-size: $small;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                padding: 10px 0;
            }
        }
    }
}


/*---------QUICK INVEST css start-----------*/
.Qick-wall
{
    background-image: url(./assest/quick.png);
    background-position: left;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin-top: 35px;
    margin-bottom: 35px;
    .QUICK-text 
    {
        flex-basis: 50%;
        margin: 60px 40px;
    }
    .QUICK-Login
    {
        flex-basis: 50%;
        h1 
        {
            color: #2741CC;
            font-size: $middel;
            margin: 40px;
        }
    }
}
/*-----input items css start-----*/
.wrapper{
    margin: 40px;

    .input-fields
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        p 
        {
            color: black;
            font-weight: 700;
        }
        .input
         {
            width: 100%;
            color: #000000;
            font-size: $small;
            font-family: 'Poppins', sans-serif;
            border: none ;
            padding : 10px 0;
            border-bottom: 1px solid gray;
            margin: 10px 0;
            background-color: transparent;
          }
    }
    .contact-form
    {
        .button{
            width: 100%;
            height: 50px;
            background-color: #2741CC;
            margin: 40px 0;
            border: none;
            img 
            {
                width: 8px;
            }
          }
          .button::before{
             content: "INVESTMENT";
             color: white;
             font-size: $small;
             font-family: 'Poppins', sans-serif;
             padding: 0 15px;
          }
    }
      
}


/*===============Second Mobile Responive css start===============*/
@media (min-width: 320px) and (max-width: 1020px)
{
    .colume 
    {
        border: none !important;
    }
}


/*=============================Third page Login-Page css start=============================*/
.wall-Login {
    background-image: url(./assest/login-wall.png);
    background-position: center;
    width: 100%;
    overflow: hidden;
    height: auto;
}
.login-text 
{
    text-align: center;
    flex-basis: 50%;
    margin-top: 20%;
    img 
    {
        width: 40px;
    }
    p 
    {
        padding: 10px;
    }
}
.login-side 
{
    flex-basis: 50%;
    .login-uptext
    {
        margin: 15px 40px;
        color: white;
    }
    .login-facebook
    {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px dashed white;
        color: white;
        padding: 10px;
        border-radius: 10px;
        margin: 20px 40px;
        text-decoration: none;
        img 
        {
            width: 36px;
        }
        p 
        {
            font-weight: 700;
            color: white;
            padding: 0 5px;
        }
    }
    .input-fields
    {
        .input 
        {
            border-bottom: 1px solid white;
            padding: 4px 0;
        }
        P 
        {
            color: white;
            margin-top: 5px;
        }
    } 
    .check-btngroup
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0;

        input[type="checkbox"]
        {
            appearance: none;
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border: 1px solid white;
            background-color: transparent;
            margin: 0 20px;
        }
        label 
        {
            color: white;
            font-size: $small;
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
        }
    }
    .wrapper {
        .contact-form 
        {
            .button::before 
            {
                content: "LOG IN";
             } 
        }  
    }
}
/*============================wall-Education css start===============================*/
.wall-Education {
    background-image: url(./assest/education.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    height: auto;
    padding-top: 6rem;
}
.left-right{
    margin-left: auto !important;
    margin: 20px;
    img 
    {
        width: 30px;
        padding: 0 10px;
    }
}
.card-position{
    height: 90vh;
    position: relative;
    max-width: 100%;
}
.left-part{
    position: absolute;
    left: 10%;
    transition: all 0.6s;
}

.right-part{
    position: absolute;
    left: -10%;
    transition: all 0.6s;
}


.card-group 
{
    flex-basis: 22%;
    height: 280px;
    width: 240px;
    margin: 20px;
    padding: 40px;
    position: relative;
    h1 
    {
        font-size: $middel;
    }
    .move-in
    {
        position: absolute;
        bottom: 20px;
        left: 20px;
        .button{
            background-color: transparent;
            border: none;
            img 
            {
                width: 6px;
                margin-top: 18px;
            }
          }
          .button::before{
             content: "LEARN";
             color: rgb(0, 0, 0);
             font-size: $small;
             font-family: 'Poppins', sans-serif;
             padding: 0 10px;
             font-weight: 800;
          }
    }
}
.first, .third 
{
  background-color: white;
  color: black;
  .boat-position 
  {
      position: absolute;
      width: 130px;
      right: 20px;
      top: 0;
  }
  .third-position 
  {
      position: absolute;
      width: 360px;
      right: 0px;
      left: 0;
      top: 0;
  }
}
.second
{
    background-image: url(./assest/black-img.png);
    background-size: cover;
    background-position: center;
    color: white;
    .button::before
    {
        color: rgb(255, 255, 255) !important;
    }
}

/*===============Thrirs Mobile Responive css start===============*/
@media (min-width: 320px) and (max-width: 1020px)
{
    .change-part{
        margin: 10px;
     }
     .card-position{
        height: 100vh;
     }
}


/*============================one-page css start===============================*/
.click-item
{
    margin: 0px;
    background-color: #353848;
    width: 130px;
    height: 100%;
    position: fixed;
    top: 0;
}
.white-page 
{
    max-width: 1227px;
    margin-left: 9%;
    .row 
    {
        padding: 10px 40px;
    }
    .one-heading
    {
        margin: 40px 0;
        flex-basis: 40%;
        h1 
        {
            font-size: $middel;
            padding: 5px 0;
        }
    }
    .one-text
    {
        margin-top: 10% ;
        flex-basis: 60%;
        p
        {
           color: black;
        }
    }
    .guide-map
    {
        flex-basis: 100%;
        padding: 50px;
        margin-left: 10%;
    }
    .base-meterial
    {
        padding: 10px 0;
        h2 
        {
            font-size: $middel;
            padding: 10px 0;
            font-family: 'Hansief';
            letter-spacing: 2px;
        }
        p 
        {
            color: black;
            padding: 10px 0;
            font-weight: bold;
        }
        span 
        {
            color: black;
            font-size: $small;
            font-family: 'Poppins', sans-serif;
        }
    }
    .compare-img
    {
        margin: auto;
     img 
     {
         width: 220px;
     }
    }
    .only-peragraphs
    {
        padding: 20px 0;
        border-bottom: 1px solid rgb(224, 224, 224);
        p
        {
            color: black;
            font-weight: 500;
        }
    }
    .compare-area
    {
        margin: 20px auto;
     img 
     {
         width: 520px;
     }
    }
    .main-box 
    {
        justify-content: center;
        padding: 40px 0;
        border-bottom: 1px solid rgb(224, 224, 224);
        .blue-box
        {
            .first-bluebox{
                width: 360px;
                height: 20px;
                border: 1px solid blue;
                background-color: transparent;
                color: black;
                font-size: $small;
                font-family: 'Poppins', sans-serif;
                text-align: center;
                padding: 15px;
                font-weight: bold;
            }
        }
    }
    .compare-img2
    {
        margin: 40px auto;
     img 
     {
         width:300px;
         height: 80px;
     }
    }
    .compare-img3
    {
        margin: 40px auto;
        p 
        {
            color: #313A89;
        }
     img 
     {
         width:350px;
         height: 230px;
     }
    }
    .compare-img4
    {
        margin: 40px auto;
     img 
     {
         width:350px;
         height: 160px;
         margin-left: 50px;
         margin-top: 30px;
     }
    }
}
.number-box
{
    margin: 40px auto;
    width: 100%;
    max-width: 780px;
    display: flex;
    justify-content: space-around;
    .first-inbox
     {
         width: 100%;
         border-radius: 10px;
         font-size: $small;
         font-family: 'Poppins', sans-serif;
         border-radius: 10px ;
         
         .in-top 
         {
            background-color: #2741CC;
            color: white;
            border-right: 1px solid rgb(224, 224, 224);
            border-bottom: 1px solid rgb(240, 240, 240);
            text-align: center;
            height: 35px;
            padding-top: 5px;
         }
         .blank-number
         {
            border-right: 1px solid rgb(224, 224, 224);
            border-bottom: 1px solid rgb(240, 240, 240);
            padding: 5px 10px;
            text-align: center;
            height: 35px;
         }
     }
       
    
}

.snowboard-menu.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3%;
}

/*===============on click page Mobile Responive css start===============*/
@media (min-width: 320px) and (max-width: 1020px)
{
    .white-page {
            margin-left: 0%;
            .row 
            {
                padding: 0px;
            }
        .compare-area{
            img {
                width: 372px;
            }
        } 
    }
    .click-item {
        width: 100%;
        height: 73px;
    }
    nav #icon {
        margin: 0 10px;
    }
    .white-page{
        .one-heading {
            margin-top: 78px;
        }
        .guide-map {
            padding: 10px;
            margin: 0;
        }
        .compare-img4
        {
            img 
            {
                width: 311px;
            }
        }
          .main-box
         {
        .blue-box
           {
            .first-bluebox 
            {
                width: 290px;
            }
           }
         }  
     }
     .row {
        margin: 3px;
    }
    .number-box
       {
        .first-inbox
        {
            .first-inbox
            {
                height: 50px;
            }
        }
       }
}
@media (min-width: 1020px) and (max-width: 1360px)
{
.white-page {
    max-width: 898px;
    margin-left: 12%;
}
}
@media (min-width: 1690px) and (max-width: 1930px)
{
    .white-page {
        max-width: 1789px;
        margin-left: 6%;
      .row 
        {
            padding: 0 60px;
            .one-text
             {
                margin-top: 6%;
            }
        }
    }
}
/*============================one black-page css start===============================*/

.black-page 
{
    max-width: 1227px;
    color: white;
    background-color: black;
    margin-left: 9%;
    .row 
    {
        padding: 0 30px;
        .one-text {
            margin-top: 9%;
        }
        p, span 
        {
            color: rgb(223, 223, 223);
        }
    }
}
@media (min-width: 320px) and (max-width: 1020px)
{
    .black-page 
             {
             margin-left: 0%;
           }
}
@media (min-width: 1020px) and (max-width: 1360px)
{
.black-page {
    max-width: 898px;
    margin-left: 12%;
}
}
@media (min-width: 1690px) and (max-width: 1930px)
{
    .black-page {
        max-width: 1789px;
        margin-left: 6%;
      .row 
        {
            padding: 0 60px;
            .one-text
             {
                margin-top: 6%;
            }
        }
    }
}
/*============================one-page css start===============================*/

.third-pageclick
{
    max-width: 1227px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: 9%;
    .row 
    {
        padding: 0 30px;
       .one-text {
            margin-top: 9%;
        }
        p, span 
        {
            color: rgb(65, 65, 65);
        }
    }
}
@media (min-width: 320px) and (max-width: 1020px)
{
    .third-pageclick
             {
             margin-left: 0%;
           }
}
@media (min-width: 1020px) and (max-width: 1360px)
{
    .third-pageclick {
    max-width: 898px;
    margin-left: 12%;
}
}
@media (min-width: 1690px) and (max-width: 1930px)
{
    .third-pageclick {
        max-width: 1789px;
        margin-left: 6%;
      .row 
        {
            padding: 0 60px;
            .one-text
             {
                margin-top: 6%;
            }
        }
    }
}

/*============================choose board page css start===============================*/
.choose-box 
{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    .box-flow
    {
        height: 24px;
        background-color: #2741CC;
        color: white;
        font-size: $small;
        font-family: 'Hansief';
        font-weight: 500;
        margin: 30px 40px;
        padding: 15px 40px;
        text-align: start;
    }
    .ways
    {
        display: flex;
        justify-content: space-between;
        img 
        {
            width: 38px;
            z-index: 999;
        }
    }
    .box-flow:after {
        content: "";
        width: 90px;
        height: .0px;
        color: white;
        background-color: #121111;
        position: absolute;
        margin-left: 4%;
        top: 50%;
        border: .1px dashed #464545;
    }
    .box-flow:last-child:after
    { 
      display: none;
    }
}
@media (min-width: 320px) and (max-width: 1020px)
{
    .choose-box
    {
        .box-flow:after {
            content: "";
            width: 58px;
        }
        .box-flow {
            height: 40px;
            margin: 17px 10px;
            padding: 4px 17px;
        }
    } 

}